<div style="padding:10px;">
     <!-- 基本信息 -->
     <form class="layui-form edit" action="">
    <div class="layui-col-md12">
      <div class="">
        <div class="">集装箱列表（请确定您要提交码头办单的集装箱，您可以全选，也可以选择集装箱分批提交申请）</div>
        <div id="dockersingletablewapper">
          <table class="layui-hide" id="detailtable" ></table>
        </div>
      </div>


    </div>

            <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center;margin-top:30px;">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn" lay-submit="" lay-filter="edit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../singleAdmin/dockersingle/index.js"></script>