<div style="padding:10px;">
     <!-- 基本信息 -->
     <form class="layui-form edit" action="">
    <div class="layui-col-md12">
      <div class="layui-inline">
          <label class="layui-form-label" style="width:auto">*延期时间：</label>
          <div class="layui-input-inline">
            <input type="text" name="applyDate" id="applyDate"  autocomplete="off" class="layui-input">
            
          </div>
        </div>


    </div>

            <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center;margin-top:30px;">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn" lay-submit="" lay-filter="edit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="../singleAdmin/delaytime/index.js"></script>