<!-- 司机管理 -->

    <form class="layui-form" action="">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">姓名：</label>
          <div class="layui-input-inline">
            <input type="text" name="driverName"  autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">性别：</label>
          <div class="layui-input-inline">
              <select name="gender" lay-search>
             <option value="">请选择</option>
             <option value="0">男</option>
             <option value="1">女</option>
            </select>
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">状态：</label>
          <div class="layui-input-inline">
              <select name="valid"   lay-search>
             <option value="">请选择</option>
             <option value="1">有效</option>
             <option value="0">无效</option>
            </select>
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">联系电话：</label>
          <div class="layui-input-inline">
            <input type="text" name="phone"  autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-inline">
          <label class="layui-form-label">身份证号码：</label>
          <div class="layui-input-inline">
            <input type="text" name="idCard"  autocomplete="off" class="layui-input">
          </div>
        </div>

         <button class="layui-btn layui-inline" lay-submit="" lay-filter="search" data-type="reload">查询</button>
          <button type="reset" class="layui-btn layui-btn-primary layui-inline">重置</button>
      </div>
      <hr class="layui-bg-gray">
        <div class="layui-form-item">
          <div>
            <span class="layui-btn audit"  data-handle="1" data-type="openDialog">新增</span>
            <span class="layui-btn audit"  data-handle="2" data-type="openDialog">编辑</span>
          </div>
        </div>
     </form>
      <table class="layui-hide" id="table"></table>


<script src="../driverAdmin/index.js"></script>
