<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll nav">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <!-- <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="javascript:;">车队管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../carteamAudit/index.html">车队审核</a></dd>
            <dd><a href="../carteamAdmin/index.html">车队管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">船公司管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../shipAdmin/index.html">船公司管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">港口管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../harborAdmin/index.html">港口管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">码头管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../dockAdmin/index.html">码头管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">预警管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">办单任务预警</a></dd>
            <dd><a href="javascript:;">危险品定位设置</a></dd>
            <dd><a href="javascript:;">危险品跟踪预警</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">统计报表</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">办单量统计报表</a></dd>
            <dd><a href="javascript:;">服务费统计报表</a></dd>
          </dl>
        </li>
      
      
      
      <li class="layui-nav-item">
          <a href="javascript:;">办单管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../scheduleAdmin/index.html">办单管理</a></dd>
            <dd><a href="../singleApplication/index.html">办单申请</a></dd>
            <dd><a href="../scheduleWarningAdmin/index.html">费用支付(船公司)</a></dd>
            <dd><a href="../scheduleWarningAdmin/index.html">费用支付(码头)</a></dd>
            <dd><a href="../scheduleWarningAdmin/index.html">详情页(船公司已办单)</a></dd>
            <dd><a href="../scheduleWarningAdmin/index.html">延期费支付(船公司和码头)</a></dd>
          </dl>
        </li>
      
        <li class="layui-nav-item">
          <a href="javascript:;">行程管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../scheduleAdmin/index.html">行程调度</a></dd>
            <dd><a href="../scheduleWarningAdmin/index.html">行程预警</a></dd>
          </dl>
        </li>
      
        <li class="layui-nav-item">
          <a href="javascript:;">交易统计</a>
          <dl class="layui-nav-child">
            <dd><a href="../transactionAdmin/index.html">交易统计</a></dd>
          </dl>
        </li>
      
        <li class="layui-nav-item">
          <a href="javascript:;">基础维护</a>
          <dl class="layui-nav-child">
            <dd><a href="../carteamAdmin/index.html">车队管理</a></dd>
            <dd><a href="../shipAdmin/index.html">船公司管理</a></dd>
            <dd><a href="../harborAdmin/index.html">港口管理</a></dd>
            <dd><a href="../dockAdmin/index.html">码头管理</a></dd>


            <dd><a href="../driverAdmin/index.html">司机管理</a></dd>
            <dd><a href="../trailerAdmin/index.html">拖车管理</a></dd>
          </dl>
        </li>
      
        <li class="layui-nav-item">
          <a href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="../userAdmin/index.html">用户管理</a></dd>
            <dd><a href="../roleAdmin/index.html">角色管理</a></dd>
            <dd><a href="../trailerAdmin/index.html">权限管理</a></dd>
          </dl>
        </li>
      
        
      </ul> -->
    </div>
  </div>


