<div style="padding:10px;">
    <form class="layui-form edit" action="" lay-filter="selectDriver">
        <div class="layui-form-item">
            <label class="layui-form-label">*指派车队：</label>
            <div class="layui-input-block">
                <select name="carTeam" required lay-verify="required" autocomplete="off" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn layui-inline" lay-submit="" lay-filter="edit">确定派车</button>
                        <button class="layui-btn layui-btn-primary layui-inline" data-type="cancel">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../scheduleAdmin/assigncarteam/index.js"></script>