<div style="padding:10px;">
    <form class="layui-form edit" action="">
        <!-- 基本信息 -->
        <div class="layui-tab layui-tab-brief">
            
            <div class="layui-tab-content">
                <div>
                    <div class="layui-card">
                    <div class="layui-card-body clearfixd">
                      <ul id="treeDemo" class="ztree" style="height:400px;width:300px;overflow:auto;"></ul>
                    </div>
                  </div>
                </div>




            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn" lay-submit="" lay-filter="edit">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="../../source/scriptes/plugins/ztree/css/zTreeStyle/zTreeStyle.css">
<script type="text/javascript" src="../../source/scriptes/plugins/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../source/scriptes/plugins/ztree/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="../roleAdmin/assignPermissions/index.js"></script>