<div style="padding:10px;">
    <form class="layui-form edit" action="">
        <!-- 基本信息 -->
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">基本信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">业务类型：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="orderTypeName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">订舱单号：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="bookSpaceNo"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">船公司：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="shipCompanyName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>


<div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">确认信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">船名航次：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="voyageName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">提箱地点：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="takeDockName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">还箱地点：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="returnDockName"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">货名：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="goodsName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">危品类别：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="applyCompanyName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">发往地点：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="address"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
               
            </div>
        </div>


        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">箱柜信息列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                 <div id="view"></div>
                </div>
            </div>
        </div>



        <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn" lay-submit="" lay-filter="edit">结算</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/html"  id="containerList">
    <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>集装箱号</th>
                            <th>铅封号</th>
                            <th>箱型</th>
                            <th>重量</th>
                            <th>合计费用</th>
                        </tr>
                    </thead>
                    <tbody>

                    {{# layui.each(d.contract.contractDetailsList, function(index, item){ }}
                        <tr>
                            
                            <td>
                            <div>
                                {{item.containerNo}}
                            </div>
                            <p>
                                <span class="fs1 c2 feeDetail" data-index={{index}} style="cursor:pointer; text-decoration: underline;" >办单费明细</span>
                            </p>
                            </td>
                            <td>{{item.leadSealNo}}</td>
                            <td>{{item.containerTypeName}}</td>
                            <td>{{item.weight}}</td>
                            {{# if(index == 0) {  }}

                            <td  {{= 'rowspan='+d.contract.contractDetailsList.length }}  >
                            <span class="c1">
                                {{d.contract.totalCost}}
                            </span>
                            

                            </td>
                            {{# } }}
                            
                        </tr>
                    {{# }) }}
                        
                    </tbody>
                </table>
                <div>
                    <span>服务费用：￥{{d.serviceCost}}x{{d.number}} =<span class="c1">￥{{d.serviceCost}}</span></span>
                    <span style="padding-left:20px;">合计：<span class="c1">￥{{d.totalCost}}</span></span>
                </div>
</script>



<script type="text/javascript" src="../singleAdmin/payment/index.js"></script>