<div style="padding:10px;">
    <form class="layui-form edit" action="">
        <!-- 基本信息 -->
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">详情信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">船名航次：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="voyageName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">拖车公司：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="applyCompanyName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">提单号：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="bookSpaceNo"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">提箱地点：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="takeDockName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">还箱地点：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="returnDockName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">集装箱经营人：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="containerOwner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item layui-show">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">作业类型：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="taskType"></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="layui-form-item">
                                <label class="layui-form-label">提箱截止时间：</label>
                                <div class="layui-input-block">
                                    <span type="label" class="layui-form-mid layui-word-aux" name="freeExpiryTimeText"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">集装箱列表</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                 <div id="view"></div>
                </div>
            </div>
        </div>

        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">节点状态</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                 <div id="timeline"></div>
                </div>
            </div>
        </div>


        <div class="layui-row">
            <div class="layui-col-xs12" style="text-align:center">
                <div class="layui-form-item">
                    <div class="">
                        <button class="layui-btn  layui-btn-primary" lay-submit="" lay-filter="edit">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/html"  id="containerList">
    <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            

                            
                            <th>箱号</th>
                            <th>封号</th>
                            <th>货名</th>
                            <th>箱型</th>
                        </tr>
                    </thead>
                    <tbody>

                    {{# layui.each(d.contractDetailsList, function(index, item){ }}
                        <tr>
                            
                            <td>{{item.containerNo}}</td>
                            <td>{{item.leadSealNo}}</td>
                            <td>{{d.goodsName}}</td>
                            <td>{{item.containerTypeName}}</td>
                            
                        </tr>
                    {{# }) }}
                        
                    </tbody>
                </table>
</script>


<script type="text/html" id="timelinetpl">
    <ul class="layui-timeline">
{{# layui.each(d.contractLogList,function(index,item){ }}
    <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <span class="layui-timeline-title">{{item.orderStatusName}}</span><span style="padding-left:20px;">{{item.creatorName==null?"":item.creatorName}}/{{item.createTimeText}}</span>
        
    </div>
  </li>
{{# }) }}
  
  
</ul>  
</script>

<script type="text/javascript" src="../singleAdmin/edit/index.js"></script>