<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>云办单平台</title>
  <link rel="stylesheet" href="../../source/libs/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <!--顶部栏占位-->
  <gulp-replace-header></gulp-replace-header>
  <!--侧边栏占位-->
    <gulp-replace-sidebar></gulp-replace-sidebar>

    
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

    	平台首页
    </div>
  </div>
  
</div>
<script src="../../source/libs/layui/layui.js"></script>

<script src="./index.js"></script>
</body>
</html>